go 1.24.0

use (
	./pkg
	./services/cache-rebuilder-service
	./services/comments-service
	./services/event-writer-service
	./services/feed-service
	./services/gateway-service
	./services/likes-service
	./services/media-service
	./services/notification-service
	./services/posts-service
	./services/users-service
)
